.logo {
    /* padding: 0; */
    /* align-items: center; */
    /* position: fixed; */
    /* top: var(--gap-huge); */
    /* left: 800px; */
    /* bottom: var(--gap-huge); */
    width: 500px;
    margin: var(--gap-huge) auto;
}

.logo h1 {
   color: var(--black);

}

.logo h3 {
   margin-top: var(--gap-huge);
   color: var(--black);
}

.logo p {
    color: var(--black);
}

p {
    line-height: 1.3rem;
    font-size: 0.8rem;
}

.menu {
    margin-top: vr(--gap-large);
}

.menu li {
    font-weight: bold;
    padding: 0;
}

.menu li a {
    color: var(--active-action);
}

h1 {
    text-align: left;
    color: white;
}

.content {
    margin-left: var(--gap-huge);
    /* margin-top: 3.5rem; */
    display: none;
}

.content-sect {
    margin: var(--gap-huge) 0;
    display: flex;
    width: 720px;
}

.logo .content-sect {
    width: auto;
    display: block;
}

.logo .content-sect:first-child {
    margin: 0;
}

.content-sect h3 {
    margin-top: 0;
}

.content-sect img {
    width: 440px;
    height: 415px;
    border: 1px dotted var(--active-action);
    padding: 12px;
    margin-right: var(--gap-large);
}

.content-sect .xplain {
    border: 1px dotted var(--active-action);
    padding: var(--gap-large);
}

.content-sect .xplain.bg-clear {
    background: white;
}
/* 
.bg-clear h3 {

}

.bg-clear p {

} */

.content-sect .xplain.bg-mid {
    background: var(--active-action);
}

.content-sect .xplain.bg-mid h3 {
    color: var(--black);
}
/* 
.content-sect .xplain.bg-mid p {

} */

.content-sect .xplain.bg-dark {
    background: var(--black);
} 

.content-sect .xplain.bg-dark h3 {

}

.content-sect .xplain.bg-dark p {
    color: white;
}