.spot-end {
    border-radius: 50%;
    position: fixed;
    width: 85%;
    height: 577px;
    background: var(--active-action);
    top: -270px;
    left:0;
    margin: -3rem;
    /* transition: all 0.5ms; */
    transition: all 500ms ease-in ;
    opacity: 1;
}

.spot {
    /* border-radius: 0; */

    border-radius: 50%;
    position: fixed;
    width: 200%;
    height: 200%;
    background: var(--active-action);
    top: 0;
    margin: 0;
    transition: all 500ms ease-in ;
    top: -20%;
    left: -50%;
    opacity: 0;
}

.logo {
    box-shadow: 1px 3px 3px #d7d7d7;
    width: 500px;
    margin: var(--gap-huge) auto;
    position: relative;
    z-index: 2;
    background: white;
    padding: 2rem;
    border-radius: 8px;

    /* top: -800px; */
    /* transition: all 500ms ease-out ; */

  /* opacity: 0; */
}

.logo-in {
    top: 0;
    opacity: 1;
}


body {
    /* background: #642323; */
}
.logo h1 {
   color: var(--black);

}

.logo h3 {
   margin-top: var(--gap-huge);
   color: var(--black);
}

.logo p {
    color: var(--black);
}

p {
    line-height: 1.3rem;
    font-size: 0.8rem;
}

.menu {
    margin-top: vr(--gap-large);
}

.menu li {
    font-weight: bold;
    padding: 0;
}

.menu li a {
    /* color: var(--active-action); */
}

h1 {
    text-align: left;
    color: white;
}

.content {
    margin-left: var(--gap-huge);
    /* margin-top: 3.5rem; */
    /* display: none; */
}

.content-sect {
    margin: var(--gap-huge) 0;
    display: flex;
    width: 720px;
}

.logo .content-sect {
    width: auto;
    display: block;
}

.logo .content-sect:first-child {
    margin: 0;
}

.content-sect h3 {
    margin-top: 0;
}

.content-sect img {
    width: 440px;
    height: 415px;
    border: 1px dotted var(--active-action);
    padding: 12px;
    margin-right: var(--gap-large);
}

.content-sect .xplain {
    border: 1px dotted var(--active-action);
    padding: var(--gap-large);
}

.content-sect .xplain.bg-clear {
    background: white;
}
/* 
.bg-clear h3 {

}

.bg-clear p {

} */

.content-sect .xplain.bg-mid {
    background: var(--active-action);
}

.content-sect .xplain.bg-mid h3 {
    color: var(--black);
}
/* 
.con{
    tent-sect .xplain.bg-mid p {

} */

.content-sect .xplain.bg-dark {
    background: var(--black);
} 

.content-sect .xplain.bg-dark h3 {

}

.content-sect .xplain.bg-dark p {
    color: white;
}

h5 {
    color: white;
    font-size: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

#img-splash {
    width: 100%;
    height: 43vw;
    object-fit: cover;
    position: absolute;
    top: auto;
    bottom: -300%;
    left: 0%;
    right: 0%;
    opacity: 0;
    transition: all 1s;
}

#img-splash.show-up {
    opacity: 1;
    bottom: 0%;
}

#spot {
    border-radius: 50%;
    position: fixed;
    width: 85%;
    height: 577px;
    background: var(--active-action);
    top: -570px;
    left:0;
    margin: -3rem;
    /* transition: all 0.5ms; */
    transition: all 500ms ease-in ;
    opacity: 1;
    position: absolute;
}
#spot.show-down {
    opacity: 1;
    top: -270px;
}