@media only screen and (max-width: 768px) {
    
    h1 {
        font-size: 1.7rem;
    }

    .content {
        display: none;
    }
    .logo {
        /* position: static;
        padding: var(--gap-large); */
        width: auto;
        margin: var(--gap-huge);
    }
 }