:root {
  --border-col: #d0d0d0;
  --border-col-dark: #0d252f;
  --bg-grey: #fafafa;
  --bg-white: #fff;
  --white : #fafafa;
  --black : #0d252f;
  --active-action: cadetblue;
  --text-clear: cadetblue;
  --active-pink: #df6fba;;
  --pending-action: grey;
  --text-main: #555;
  --text-dark: #0d252f;
  --text-inactive: #ccc;
  --gap-micro: 0.15rem;
  --gap-small: 0.25rem;
  --gap-medium: 0.5rem;
  --gap-large:1rem;
  --z-1: 1;
  --z-2: 10;
  --z-3: 100;
  --z-4: 1000;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 100%;
  /* padding: var(--gap-large) 0 var(--gap-large); */
  
   
  font-family: Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  /* font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */

  font-weight: 300; 
  
  
  font-weight: 300; 
  background: var(--white);
}

.page {
  margin-left: 360px;
  margin-top: var(--gap-large);
}

.page-grid {
  display: grid;
  grid-template-columns: 400px 400px;
}

h1 {
  /* font-family: 'Arvo', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  color: var(--text-dark);
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: var(--gap-large);
  color: var(--text-clear);
font-weight: bold;
}

h2 {
  /* font-family: 'Arvo', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.2rem;
  color: var(--text-main);
  text-transform: capitalize;
  padding: var(--gap-small) 0;
  margin: 0;
  color: var(--text-clear);
  font-weight: bold;
  border-bottom: 1px solid var(--border-col);
}

h2 i.fa {
  font-size: 0.8rem;
  padding-right: var(--gap-small);
}

h2 i.fa.action {
  color: var(--text-clear);
}

h2 span.action-wrap {
  align-items: center;
}

h3 {
  font-size: 1rem;
  margin: var(--gap-medium) 0;
  line-height: 1.5rem;
  color: var(--text-clear);
  font-weight: bold;
  display: flex;
  align-items: center;
}

a {
  color: var(--text-dark);
  font-weight: bold;
}

a:hover {
  color: var(--active-pink);
}

p {
  line-height: 1.4rem;
  font-size: 0.9rem;
  padding: 0;
  margin: var(--gap-small) 0;
  color: var(--text-main);
}

hr {
  border: none;
  margin: var(--gap-medium);
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--white);
  line-height: 1.4rem;
  border: none;
  font-weight: bold;
  font-weight: bold;
  border-radius: 4px;
  padding: var(--gap-medium) var(--gap-large);
  background: var(--text-clear);
  font-size: 0.9rem;
  text-transform: lowercase;
  text-align: center;
  margin: var(--gap-small) 0;
}

button:hover {
  background-color: var(--active-pink);
}

button.disabled {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}

button.ok {
  background: #206e20;
}

button.danger {
  background: #aa2525;
}

button.danger:hover {
  opacity: 0.7;
}


label {
  line-height: 1.4rem;
  padding: 0 0 0 var(--gap-small);
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}

label.blocklabel {
  display: block;
  padding: 0;
}

textarea, input[type="text"] {
  border: 1px solid var(--border-col);
  line-height: 1.4rem;
  padding: var(--gap-small);
  font-size:0.9rem;
  width: 80%;
}

ul {
  padding: 0;
  margin: 0;
}

ul.nav {
  text-align: center;
}

ul.nav li {
  display: inline-block;
  text-transform: lowercase;
  list-style: none;
  padding: var(--gap-medium);
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: var(--gap-large);
  color: var(--text-clear);
  font-weight: bold;
}

ul.nav li a {
  color: var(--white);
}

ul.nav li.active {
  text-decoration: none;
  color: var(--text-inactive);
}

ul.nav li.active a {
  text-decoration: none;
  pointer-events: none;
}

li {
  line-height: 1.2rem;
  list-style: none;
  list-style-position: inside;
  color: var(--text-main);
  display: flex;
  align-items: center;
  padding: var(--gap-micro) 0;
  font-size:0.9rem;
  margin: 0;
}

li.itemised {
  text-transform: capitalize;
  margin: var(--gap-small) 0;
}

i.bookmark {
  color: var(--text-clear);
  font-size: 1.2rem !important;
}

i.bookmark {
  color: var(--text-clear);
}

i.fa {
  font-size: 0.8rem;
}

i.fa.action {
  cursor: pointer;
  padding: var(--gap-medium)0;
  line-height: 0.6rem;
  /* font-size: 0.8rem; */
  border-radius: 0px;
  color: var(--text-dark);
}

i.fa.action:hover {
  color: var(--active-pink);
}

span.resource-name {
  font-weight: bold;
  text-transform: capitalize;
}

span.action-wrap {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  line-height: 1rem;
}

span.action-wrap span {
  line-height: 1rem;
}

span.action-wrap i {
  margin-right: var(--gap-medium);
}


span.action-wrap span {
  font-weight: bold;
}

span.action-wrap:hover, span.action-wrap:hover i, span.action-wrap:hover .html-icon {
  color: var(--active-pink);
}

span.action-wrap > span.html-icon {
  /* padding: 0.1rem 0.3rem; */
  /* background: var(--black); */
  /* color: white; */
  /* font-size: 1rem;
  line-height: 1rem; */
  /* border-radius: 2px; */
  margin-right: var(--gap-small);
}

span.html-icon {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1rem;
  display: inline-block;
  /* margin-right: var(--gap-small); */
  color: var(--black);
  font-family: Helvetica;
}

span.html-icon.job-selector {
  font-size: 3rem;
}

span.html-icon.job-selector {
  font-size: 3rem;
}

.selected span.html-icon.job-selector {
  opacity: 0.5;
}

span.html-icon:hover {
  color: var(--active-pink);
}

.generic-ui-overlay-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--text-dark);
  top: 0;
  left: 0;
  z-index: var(--z-1);
  opacity: 0.4;
}

.clibwasm-modal-wrap > div:first-child {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--black);
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: var(--z-3);
}

.margin-b {
  margin: 1.5rem 0;
}

.margin-m {
  margin: 1rem 0;
}

.margin-s {
  margin: 0.5rem 0;
}