@media only screen and (max-width: 768px) {
    .page {
        margin-left: 0;
        position: relative;
        top: 0;
   }

   .jobs-container {
        padding-top: 3rem;
   }
   
   .jobs-container.with-selected {
       display: none;
    }

    .StyledJobContainer, .StyledAboutContainer {
        width: auto;
        margin: var(--gap-large);
    }
    
    .StyledJobDetail {
        left: 0;
        position: relative;
        height: 100%;
        width: auto;
        top: 35px;
    }

    .StyledModalWrap > div {
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
    }

    .StyledMobileBar {
        display: flex;
    }

    .StyledSidebar {
        width: 100%;
        top: 35px;
        left: -768px;
    }

    .StyledSidebar i.fa-cog {
        display: none;
    }

    .StyledSidebar i.fa-times {
        display: inline-block;
    }

    .StyledSidebar.active {
        left: 0;
    }

    .StyledSettingsListContainer {
        width: 100%;
        padding-top: 2rem;
        left: 0;
    }
    .StyledSettingsListContainer.unactive {
        left: -768px;
    }

    .StyledSettingsListContainer span.html-icon {
        right: var(--gap-large);
    }

    .StyledSettingsListContainer span.html-icon i.fa-times {
        font-size:1.25rem;
    }

    .StyledPrompt {
        width: 100%;
        left: 0;
        top: -500px;
    }

    .StyledPrompt.active {
        top: 0;
    }

    .StyledPrompt span.html-icon {
        font-size: 1rem;
    }

    .StyledNotification {
        border: none;
    }
}