:root {
  --border-col: #d0d0d0;

  /* --border-col-dark: #0d252f; */
  --border-col-dark: #13252d;;
  
  --bg-grey: #fafafa;
  --bg-white: #fff;
  --white : #fbfbfb;

  /* --black : #0d252f; */
--black: #13252d;;
  --active-action: #5b9395;
  /* --active-action: #0a2f3f; */
  --text-clear: #5b9395;
  /* --text-clear: #0a2f3f; */

  --active-pink: #bdc9ce;
  --pending-action: grey;

  /* --text-main: #0d252f; */
  --text-main: #13252d;;
  /* --text-dark: #0d252f; */
  --text-dark: #13252d;;
  
  --text-inactive: #ccc;
  --gap-micro: 0.15rem;
  --gap-small: 0.25rem;
  --gap-medium: 0.5rem;
  --gap-large:1rem;
  --gap-huge:1.5rem;
  --err: #aa2525;
  --ok: #206e20;
  --warn: rgb(191, 115, 33);
  --z-1: 1;
  --z-2: 10;
  --z-3: 100;
  --z-4: 1000;
  --z-5: 10000;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 100%;
  /* padding: var(--gap-large) 0 var(--gap-large); */
  /* font-family: Helvetica, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  /* font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family:  -apple-system, BlinkMacSystemFont, 'Open Sans', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, sans-serif;
  /* font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
  font-weight: 300; 
  background: white;
}

body.scroll-down .mobile-bar {
  padding: var(--gap-small);
}
body.scroll-down .mobile-bar i.fa {
  font-size: 1rem;
}

.page {
  /* margin-left: 360px; */
  /* margin-top: var(--gap-large); */
  padding-left: 4rem;
}

.page-grid {
  display: grid;
  grid-template-columns: 400px 400px;
}

h1 {
  /* font-family: 'Arvo', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 800;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: var(--gap-huge);
  margin-top: var(--gap-huge);
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: var(--gap-small) 0;
  margin: 0;
  color: var(--text-clear);
  font-weight: bold;
  /* border-bottom: 1px dotted var(--active-action); */
}

h2 i.fa {
  font-size: 0.8rem;
  padding-right: var(--gap-small);
}

h2 span.action-wrap {
  align-items: flex-end;
}

h3 {
  font-size: 1rem;
  margin: var(--gap-medium) 0;
  line-height: 1.5rem;
  color: var(--text-clear);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: 1rem;
  margin: var(--gap-small) 0;
  line-height: 1.35rem;
  color: var(--black);
  font-weight: bold;
}

a {
  color: var(--text-dark);
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: var(--active-action);
}

p {
  line-height: 1.4rem;
  font-size: 0.9rem;
  padding: 0;
  margin: var(--gap-small) 0;
  color: var(--text-main);
}

p.proj-repo {
  margin: var(--gap-large) 0 var(--gap-medium);
  font-weight: bold;
}

hr {
  border: none;
  margin: var(--gap-medium);
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--white);
  line-height: 1.4rem;
  border: none;
  font-weight: bold;
  font-weight: bold;
  border-radius: 4px;
  padding: var(--gap-medium) var(--gap-large);
  background: var(--text-clear);
  font-size: 0.8rem;
  text-transform: lowercase;
  text-align: center;
  margin: var(--gap-small) 0;
}
button.disabled {
  opacity: 0.5;
}

button:hover {
  background: var(--border-col);
  opacity: 1;
}


label {
  line-height: 1.4rem;
  padding: 0 0 0 var(--gap-small);
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.9em;
}

label.blocklabel {
  display: block;
  padding: 0;
}

textarea, input[type="text"] {
  border: 1px solid var(--border-col);
  line-height: 1.4rem;
  padding: var(--gap-small);
  font-size:0.9rem;
  width: 80%;
}

ul {
  padding: 0;
  margin: 0;
}

ul.nav {
  text-align: center;
}

ul.nav li {
  display: inline-block;
  text-transform: lowercase;
  list-style: none;
  padding: var(--gap-medium);
  font-size: 1rem;
  /* font-family: 'Montserrat', sans-serif; */
  margin: var(--gap-small) var(--gap-small) var(--gap-large);
  color: var(--text-clear);
  font-weight: bold;
  border-radius: 0.25rem;
}

ul.nav li a {
  color: var(--white);
}

ul.nav li.active {
  text-decoration: none;
  pointer-events: none;
  background: var(--bg-grey);
  
}
ul.nav li.active a {
  text-decoration: none;
  pointer-events: none;
  color: var(--text-dark);
}

li {
  font-size:0.9rem;
  line-height: 1.4rem;
  list-style: none;
  list-style-position: inside;
  color: var(--text-main);
  display: flex;
  align-items: center;
  padding: var(--gap-small) 0;
  margin: var(--gap-micro) 0;
}

li.itemised {
  text-transform: capitalize;
  padding: 0;
  display: list-item;
  font-size: 0.85rem;
}

li.list-footer-meta-action {
  text-decoration: underline;
  cursor: pointer;
}

li.list-footer-meta-action:hover {
  color: var(--active-pink);
}

i.bookmark {
  color: var(--text-clear);
  font-size: 1.2rem !important;
}

i.bookmark {
  color: var(--text-clear);
}

i.fa {
  font-size: 0.8rem;
}

i.fa.action {
  cursor: pointer;
  padding: var(--gap-medium)0;
  line-height: 0.6rem;
  border-radius: 0px;
}

i.fa.action:hover {
  color: var(--active-action);
}

i:hover, 
a:hover {
    opacity: 0.7;
}

span.resource-name {
  font-weight: bold;
  text-transform: capitalize;
}

span.action-wrap {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  ;
}

span.action-wrap i {
  margin-right: var(--gap-small);
}

h2 span.action-wrap i {
  margin-right: var(--gap-micro);
}


span.action-wrap:hover,  span.action-wrap:hover .html-icon {
  color: var(--active-action);
}

/* h2 span.action-wrap:hover, h2 span.action-wrap:hover i,  h2 span.action-wrap:hover .html-icon {
  color: var(--black);
}

h3 span.action-wrap:hover, h3 span.action-wrap:hover i,  h3 span.action-wrap:hover .html-icon {
  color: var(--black);
} */




span.html-icon {
  display: inline-block;
  cursor: pointer;
  display: inline-block;
}

span.html-icon:hover i {
  color: var(--active-action) !important;
  opacity: 1;
}

span.html-icon.main-toggle {
  transition: transform .2s; 
}

span.html-icon.main-toggle i {
  font-size: 1.2rem;
}

span.html-icon.main-toggle:hover {
  transform: scale(1.25);
}

span.html-icon.app-ctrl {
    
    transition: transform .2s; 
    z-index: 1;
} 

span.html-icon.app-ctrl i {
  font-size: 1.5rem;
  color: var(--black);
} 

span.html-icon.app-ctrl:hover {
  transform: scale(1.25);
}

.generic-ui-overlay-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--text-dark);
  top: 0;
  left: 0;
  z-index: var(--z-1);
  opacity: 0.4;
}

.clibwasm-modal-wrap > div:first-child {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--black);
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: var(--z-3);
}

.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.paged-out {
  display: none;
}

.filtered-out {
  /* opacity: 0.35; */
  cursor: default;
  pointer-events: none;
}

.filtered-out i {
  cursor: default!important;
  pointer-events: none!important;
}


.err {
  background: var(--err);
}

.ok {
  background: var(--ok);
}

.warn {
  background: var(--warn);
}

.margin-b {
  margin: var(--gap-large) 0!important;
}

.margin-m {
  margin: var(--gap-medium) 0!important;
}

.margin-s {
  margin: var(--gap-small) 0!important;
}
.margin-no {
  margin: 0!important;
}

.jobs-container {
  display: flex;
}

.app-links {
  position: fixed;
  width: auto;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: var(--z-2);
  right: 0;
 
}

.app-links .html-icon {
  padding: 0 0.5rem;
}

.main-menu-toggle {
  margin: 0.5rem;
}

.top-slot {
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.main-menu-toggle {
  position: absolute;
}