@media only screen and (max-width: 768px) {
    .page {
        margin-left: 0;
        position: relative;
        top: 0;
        margin-top: var(--gap-large);
   }

   .jobs-container {
        padding-top: 2rem;
   }
   
   .jobs-container.with-selected {
       display: none;
    }
}