@media only screen and (max-width: 768px) {
    .page {
        margin-left: 0;
        position: relative;
        top: 0;
        padding-left: 0;
   }

   span.html-icon.app-ctrl {
    display: none;
   }
   .jobs-container {
        padding-top: 1rem;
   }
   
   .jobs-container.with-selected {
       /* display: none; */
    }

    .paged-out {
        display: block;
    }

    .jobs-container >.anime-fade-init, .jobs-container > .anime-fade-init- {
        width: 100%;
        display: block;
        opacity: 1;
    }

    .with-selected  div.main-list {
        display: none;
    }
    .with-selected div.item-detail {
        display: block;
        display: block;
        top: 10px;
        left: 0;
        margin: var(--gap-medium);
    }

    .anime-popright-init {
        left:0;
    }

    .active > .main-toggle {
        display: none;
    }
}