.print {

    padding: 0 var(--gap-medium) var(--gap-large) var(--gap-large);

    h2, h3, p, li, span {
        color: var(--text-main);
    }

    h2 {
        margin: var(--gap-large) 0 var(--gap-large) 0;
        font-size: 15px;
        color: var(--text-main);
        
    }

    h2 strong {
        display: block;
    }

    h3 {
        font-size: 14px;
        color: var(--text-main);
        margin: var(--gap-medium) 0;
        display: list-item;
        list-style-position: inside;    
    }

    h4 {
        font-size: 13px;
        color: var(--text-main);
        margin: var(--gap-small) 0;
    }

    p, li {
        font-size: 12px;
        color: var(--text-main);
        padding: 2px;
        margin: var(--gap-small) 0;
    }

    span.resource-name {
        text-transform: lowercase;
    }

    div.pers-data {
        display: flex;
        justify-content: space-between;
        width: 50%;

        p {
            font-size: 14px;
            padding: 0;
            margin: 0;

            strong {
                display: block;
            }
        }

        h2 {
            border: none;
            text-transform: none;
            font-size: 14px;
            margin: 0;
            padding: var(--gap-large) 0;

        }
    }

    ul.skills {
        li {
            margin-right: 5px;
            display: inline list-item;
            list-style: disc;
            text-transform: capitalize;
        }
    }
}