.print {

    padding: 0 var(--gap-medium) var(--gap-large) var(--gap-large);

    h2, h3, p, li, span {
        color: var(--text-main);
    }

    h2 {
        margin: 1.25rem 0 0.5rem;
        font-size: 16px;
        // color:#fff;
        border-bottom: 1px solid #999;
//         background: #aaa;
//   padding-left: 1rem;
    }

    h2.detail-list strong {
        display: list-item;
        font-size: 12px;
        color: var(--text-main);
    }


    h2.detail-list, h2.dani {
        color: var(--text-main);
        background: transparent;
    }
    h3 {
        font-size: 13px;
        color: var(--text-main);
        margin: 8px 0;
        color: #113164;  
    }

    h3 span {
        // color: #7d0e4d;  
    }

    h3 span.job-pos {
        display: list-item;
        list-style: disc;
        list-style-position: inside;
    }

    h4 {
        font-size: 12px;
        color: var(--text-main);
        margin: auto;
    }

    p, li {
        font-size: 12px;
        color: var(--text-main);
        padding: 0;
        margin: 8px 0px;
        display: block;
        line-height: 19px;
    }

    b {
        font-weight: bold;
    }

    ul {
        margin-top: 10px;
    }
    li {
        margin: 6px 0;
        list-style: circle;
        list-style-position: inside;
        display: list-item;
    }

    span.resource-name {
        text-transform: lowercase;
    }

    div.pers-data {
        display: flex;
        justify-content: space-between;
        width: 85%;

        p {
            font-size: 14px;
            padding: 0;
            margin: 0;

            strong {
                display: block;
            }
        }

        h2 {
            border: none;
            text-transform: none;
            margin: 0;
            padding: 12px 0 0;

        }
    }

    ul.skills {
        margin-top: 0;
        li {
            display: inline-block;
            list-style: disc;
            text-transform: capitalize;
            padding: 0 2px 0 0;
            margin: 0 5px 0 0;
        }
    }

    .app-ctrl {
        display: none;
    }

    .job-title {
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
    }

    .job-subtitle {
        
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
      
    }

    .job-title span {
        text-transform: capitalize;
    }

    .job-subtitle span, .job-subtitle span span {
        text-transform: capitalize;
      
    }

    ul.some-tech {
        li {
            display: inline-block;
            padding: 0 0.1rem;

            span {
                font-weight: bold;
            }
        }
    }

    .html-icon {
        display: none;
    }
}